<% layout('../layout.ejs') -%>
<% block('title', title) %>
<h3><%= title %></h3>
<form name="edit" method="POST" action="/players/<%= id %>?_method=PATCH">
    <div class="form-group">
        <label for="game-email">Email</label>
        <input type="email" class="form-control" id="game-email" name="email" required value=<%= email %>>
      </div>
      <div class="form-group">
          <label for="game-mode">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Example: Toto" required value=<%= name %>>
      </div>
      <button type="submit" class="btn-add">Edit</button>
</form>