<% layout('../layout.ejs') -%>
<% block('title', title) %>
<h3><%= title %></h3>
<form name="new" method="POST" action="/players">
    <div class="form-group">
      <label for="game-email">Email</label>
      <input type="email" class="form-control" id="game-email" name="email" placeholder="Example: toto@tata.com" required>
    </div>
    <div class="form-group">
        <label for="game-mode">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Example: Toto" required>
    </div>
    <button type="submit" class="btn-add">Add</button>
</form>
