<% layout('../layout.ejs') -%>
<% block('title', title) %>
<div id="title" class="row">
    <h3 class="col-md-10"><%= title %></h3>
    <a href="/players/new"><p class="btn-add">Add a player</p></a>
</div>
<% if(showAllPlayers == true) { %>
    <table class="table">
        <tr class="tr-header">
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">gameWin</th>
            <th scope="col">gameLost</th>
            <th scope="col">createdAt</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <% allPlayers.forEach(function(player) { %>
            <tr>
                <td><%= player._id %></td>
                <td><%= player.name %></td>
                <td><%= player.email %></td>
                <td><%= player.gameWin %></td>
                <td><%= player.gameLost %></td>
                <td><%= moment(player.createdAt).format('DD/MM/YYYY') %></td>
                <td><a href="/players/<%= player._id %>/edit"><p class="btn-edit">Edit</p></a></td>
                <td>
                    <form name="delete" method="POST" action="/players/<%= player._id %>?_method=DELETE">
                        <button class="btn-delete" type="submit">Delete</button>
                    </form>
                </td> 
            </tr>
        <% }); %>
    </table>
<% }else{ %>
    <h2>No players found</h2>
    <a href="/players/new">Add a player</a>
<% }%>