<% layout('../layout.ejs') -%>
<% block('title', title) %>
<h3><%= title %></h3>

<h4>Players available</h4>
<table class="table">
    <tr class="tr-header">
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">gameWin</th>
        <th scope="col">gameLost</th>
        <th scope="col">createdAt</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
</table>

<h4>Players in game</h4>
<table class="table">
    <tr class="tr-header">
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>gameWin</th>
        <th>gameLost</th>
        <th>createdAt</th>
    </tr>
    <% allPlayers.forEach(function(player) { %>
        <tr>
            <td><%= player._id %></td>
            <td><%= player.name %></td>
            <td><%= player.email %></td>
            <td><%= player.gameWin %></td>
            <td><%= player.gameLost %></td>
            <td><%= player.createdAt %></td>
            <td>
                <form name="add" method="POST" action="/games/<%= gameId %>/players">
                    <input type="hidden" name="players" value="<%= player._id %>"/>
                    <button type="submit">Ajouter</button>
                </form>
            </td>
            <td>
                <form name="delete" method="POST" action="/games/<%= gameId %>/players?id=<%= player._id %>&_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            </td> 
        </tr>
    <% }); %>
</table>