#navbar{
    background-color: #3700b4;
    margin-bottom: 20px;
}
a:hover{
    text-decoration: none;
}
#title{
    margin-bottom: 20px;
}
.tr-header{
    background-color: #fafafa;
    color: #878789;
}
.btn-add{
    border:1px solid #3700b4;
    border-radius: 15px;
    color: #3700b4;
    background-color: #fff;
    padding: 5px 25px;
}
.btn-add:hover{
    text-decoration: none;
    background-color: #3700b4;
    border:1px solid #3700b4;
    border-radius: 15px;
    color: white;
    padding: 5px 25px;
}
.btn-edit{
    border:1px solid #4500b4;
    background-color: #fff;
    border-radius: 15px;
    color: #4500b4;
    padding: 5px 25px;
}
.btn-edit:hover{
    text-decoration: none;
    background-color: #4500b4;
    border:1px solid #4500b4;
    border-radius: 15px;
    color: white;
    padding: 5px 25px;
}
.btn-delete{
    border:1px solid #ff4b4c;
    background-color: #fff;
    border-radius: 15px;
    color: #ff4b4c;
    padding: 5px 25px;
}
.btn-delete:hover{
    text-decoration: none;
    background-color: #ff4b4c;
    border:1px solid #ff4b4c;
    border-radius: 15px;
    color: white;
    padding: 5px 25px;
}
.error{
    text-align: center;
    margin-top: 200px;
}