<% layout('../layout.ejs') -%>
<% block('title', title) %>
<h3><%= title %></h3>
<form name="new" method="POST" action="/games/<%= id %>?_method=PATCH">
    <div class="form-group">
      <label for="game-name">Name</label>
      <input type="text" class="form-control" id="game-name" name="name" placeholder="Example: GameOne" required value=<%= name %>>
    </div>
    <div class="form-group">
        <label for="game-mode">Mode</label>
        <select class="form-control" name="mode">
            <option value="around-the-world" <%= mode == 'around-the-world' ? selected='selected' : '' %>>Around the world</option>
            <option value="301" <%= mode == '301' ? selected='selected' : '' %>>301</option>
            <option value="cricket" <%= mode == 'cricket' ? selected='selected' : '' %>>Cricket</option>
        </select>
    </div>
    <div class="form-group">
        <label for="game-status">Status</label>
        <select class="form-control" name="status">
            <option value="draft" <%= status == 'draft' ? selected='selected' : '' %>>Draft</option>
            <option value="started" <%= status == 'started' ? selected='selected' : '' %>>Started</option>
            <option value="ended" <%= status == 'ended' ? selected='selected' : '' %>>Ended</option>
        </select>
    </div>
    <button type="submit" class="btn-add">Edit</button>
</form>