<% layout('../layout.ejs') -%>
<% block('title', title) %>
<div id="title" class="row">
    <h3 class="col-md-8"><%= title %></h3>
    <a href="/games/new"><p class="btn-add">Add a game</p></a>
    <a href="/players"><p class="btn-add">Manage players</p></a>
</div>
<% if(showAllGames == true) { %>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="tr-header">
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">mode</th>
                    <th scope="col">currentPlayerId</th>
                    <th scope="col">status</th>
                    <th scope="col">createdAt</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% allGames.forEach(function(game) { %>
                    <tr>
                        <td><%= game._id %></td>
                        <td><%= game.name %></td>
                        <td><%= game.mode %></td>
                        <td><%= game.currentPlayerId %></td>
                        <td><%= game.status %></td>
                        <td><%= moment(game.createdAt).format('DD/MM/YYYY') %></td>
                        <td><a href="/games/<%= game._id %>/edit"><p class="btn-edit">Edit</p></a></td>
                        <td>
                            <form name="delete" method="POST" action="/games/<%= game._id %>?_method=DELETE">
                                <button class="btn-delete" type="submit">Delete</button>
                            </form>
                        </td> 
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% }else{ %>
    <h2>No game found</h2>
    <a href="/games/new">Add a game</a>
<% }%>