<% layout('../layout.ejs') -%>
<% block('title', title) %>
<h3><%= title %></h3>
<form name="new" method="POST" action="/games">
    <div class="form-group">
      <label for="game-name">Name</label>
      <input type="text" class="form-control" id="game-name" name="name" placeholder="Example: GameOne" required>
    </div>
    <div class="form-group">
        <label for="game-mode">Mode</label>
        <select class="form-control" name="mode">
            <option value="around-the-world" selected="selected">Around the world</option>
            <option value="301">301</option>
            <option value="cricket">Cricket</option>
        </select>
    </div>
    <button type="submit" class="btn-add">Add</button>
</form>
